<div class="videos-container container" scrollify='loadVideos()'>
	<div ng-repeat="video in videosData track by $index" class="video">
		<img original-image ng-src="http://diagnal.doqik.com/assets/{{video['poster-image']}}" onerror="this.src='/assets/placeholder_for_missing_posters.png'" alt="">
		<img class="loader-image" src="/assets/placeholder_for_missing_posters.png" alt="">
		<div class="video-title">
			<h4>{{video.name}}</h4>
		</div>
	</div>
</div>